@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="showcaseCar">
    <img class="w-100 d-block" src="~/images/services/showcase.jpg" />
</div>

<div class="row feature">
    <div class="col-sm align-content-center">
        <h2 class="align-middle">
            FARADAY CAR RENTAL
        </h2>
    </div>
    <div class="col-sm">
        <p class="font-weight-bold font-italic align-middle">
            Shift up a gear and make a trip extra special by renting an exotic car from Faraday.
            Choose from an exciting selection of luxury rentals ranging from European to American classic convertibles,
            SUVs, sports cars and much more. With Faraday, you’ll get the latest exotic models from top manufacturers such as the Mercedes-Benz S Class,
            BMW 6 Series, and Jaguar F-Type, just to name a few.
            Choose a high-performance luxury car to make the journey as enjoyable as the destination.
        </p>
    </div>
</div>
<div class="text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <i class="fas fa-car"></i>
            <h5>VARIETY</h5>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-leaf"></i>
            <h5>CLIMATE FRIENDLY</h5>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-medal"></i>
            <h5>AWARD WINNING SERVICE</h5>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>